.Logo {
  display: flex;
  align-items: center;
  background-color: #3B6F40
}

.Logo img {
  margin: 5px;
  height: 60px;
  width: 80px;
}

.Logo span {
  font-family: 'Baloo 2', cursive;
  color: rgb(0, 0, 0);
  font-size: 2.6rem;
}
@media (max-width: 880px) {
  .Logo span {
    font-size: 28px;
  
}
}