.Order {
    font-family: sans-serif;
    border: black solid;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    width: 500px;
    margin-bottom: 3rem;
    display: block;
  }
  .Order .details {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: flex;
    
    margin: auto;
    flex-flow: row wrap;
  }
  
  .Order .price {
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    font-family: 'Overpass Mono', monospace;
    margin-bottom: 0.3em;
  }
  
  .Order .subjects {
    border-radius: 0.3em;
    padding: 0.3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  
    
    margin: 0 0.3em 0.3em 0;
  }
  