.Bag {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    background-size: contain;

    margin-right: .2rem;
    margin-bottom: .2rem;
   
    
}
.pencil {
    background-image: url(../../../../assets/battery.svg);
    
}
.notebook {
   background-image: url(../../../../assets/bottle.svg);
}
.pen {
    background-image: url(../../../../assets/lunch.svg);
}
.eraser {
   background-image: url(../../../../assets/medicineChest.svg);
}
.ruler {
    background-image: url(../../../../assets/tent.svg);   
}
