.logo {
    display: flex;
    align-items: center;
}
.logo img {
    height: 60px;
    width: 60px;
}
.logo span {
    font-family: 'Indie Flower', cursive;
    color:rgb(7, 37, 3);
    font-size: 2rem;
    
}