.StationeryKit .bento {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  
    border: 1px solid rgb(29, 109, 129);
    background-color: rgb(204, 228, 235);
    width: 400px;
    height: 400px;
    border-radius: 3px;
    padding: 0.1rem;
  
    overflow: hidden;
  }
  .StationeryKit .price {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Sacramento", cursive;
  }
  @media (min-width: 500px) {
    .StationeryKit {
      width: 400px;
    }
  }