.Toolbar {
  display: flex;
  justify-content: space-between;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #3B6F40;
}

.Toolbar nav {
  display: none;
}

@media (min-width: 650px) {
  .Toolbar nav {
    display: block;
  }
}
