.StationeryControls {
    display: flex;
    flex-flow: column nowrap;
    align-items:center;

    border: 1px solid rgba(3, 116, 54, 0.596); 
    border-radius:10px ;
    background-color: #bb7900;
    
    padding: 1rem 2rem;
    margin: 0 .5rem;
    
}