.BagControls {
  background-color: rgb(218, 143, 4);
  width: 300px;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  height: 380px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media (max-width: 650px) {
  .BagControls {
    margin-top: 20px;
  }
}
