.Button {
  width: 100px;
  height: 30px;
  font-size: 1rem;
  border: none;
  margin-right: 5px;
  background-color: red;
  color: black;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
}

.Button:disabled {
  opacity: 0.5;
}

.Button:not(:disabled):hover {
  opacity: 0.8;
}
.Button:hover{
  
    position: relative;
  }
  
  .Button {
    
    color: white;
    
    background:black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
  }
  
  .Button:hover::before {
    left: 0;
    transition: 1s;
  }