.Navigation {
  list-style-type: none;
  display: flex;
  margin: 10px 0;
  padding: 0;
  
}

@media (min-width: 700px) {
  .Navigation {
    margin: 0 12px;
    flex-direction: row;
    white-space: nowrap; 
  }
}
