.Bag {
  padding: 0 0.5rem;
}

.Bag .bento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
  position: relative;
  background-image: url(../../../assets/49a8da7c-722f-4db4-bdf2-e2a9da897a60.jpg);
  background-size: cover;
  width: 400px;
  height: 380px;
  margin: 0 auto;
  padding-bottom: 0px;
  
}

.Bag .price {
  font-size: 2rem;
  text-align: center;
  color: black;
  font-family: 'Baloo 2', cursive;
}

.Bag .subjectsBento {
  position: relative;
  top:0px;
  left:0px;
  transform: translate(-140px, -130px);
}

@media (max-width: 650px) {
  .Bag .bento {
    background-size: contain;
    background-repeat: no-repeat;
    width: 380px;
    height: 300px;
    margin-left: 100px;
    margin-top:60px }
}
